<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Email old:</b>
  <%= @user.email_old %>
</p>

<p>
  <b>Country:</b>
  <%= @user.country %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
