<h1><%= t('post.list') %></h1>

<table>
  <tr>
    <th><%= t('post.title') %></th>
    <th><%= t('post.content') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to t('post.show'), post %></td>
    <td><%= link_to t('post.edit'), edit_post_path(post) %></td>
    <td><%= link_to t('post.destroy'), post, :confirm => t('confirm.destroy'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('post.new'), new_post_path %>
